

  <div>
    <%= label_tag :team_name %>
    <%=  text_field_tag :team_name,  @team.team_name %>
  </div>
 
  <div>
    <%= label_tag :player_1 %>
    <%=  text_field_tag :player_1,  @team.player_1 %>
  </div>

  <div>
    <%= label_tag :player_2 %>
    <%=  text_field_tag :player_2,  @team.player_2 %>
  </div>

  <div>
    <%= label_tag :player_3 %>
    <%=  text_field_tag :player_3,  @team.player_3 %>
  </div>

    <div>
    <%= label_tag :player_4 %>
    <%=  text_field_tag :player_4,  @team.player_4 %>
  </div>

    <div>
    <%= label_tag :player_5 %>
    <%=  text_field_tag :player_5,  @team.player_5 %>
  </div>

    <div>
    <%= label_tag :player_6 %>
    <%=  text_field_tag :player_6,  @team.player_6 %>
  </div>

    <div>
    <%= label_tag :player_7 %>
    <%=  text_field_tag :player_7,  @team.player_7 %>
  </div>

    <div>
    <%= label_tag :player_8 %>
    <%=  text_field_tag :player_8,  @team.player_8 %>
  </div>

    <div>
    <%= label_tag :player_9 %>
    <%=  text_field_tag :player_9,  @team.player_9 %>
  </div>
