<h1> <%= link_to("Create A New Team", "/teams/new", :class => "btn btn-success") %>
   
<hr>

<div>

  <% @teams.order(score: :desc).each do |team| %>
    <h2> <%= link_to(team.team_name, "/team/#{team.id}") %> Total: <%= Player.find_by(name: team.player_1).home_runs_2017 + Player.find_by(name: team.player_2).home_runs_2017 +  Player.find_by(name: team.player_3).home_runs_2017 + Player.find_by(name: team.player_4).home_runs_2017+ Player.find_by(name: team.player_5).home_runs_2017 + Player.find_by(name: team.player_6).home_runs_2017 + Player.find_by(name: team.player_7).home_runs_2017 + Player.find_by(name: team.player_8).home_runs_2017 + Player.find_by(name: team.player_9).home_runs_2017 %> </h2>
  <% end %>
</div>

<hr>

<span class="counter pull-left" ></span>

<h5>Once all teams have been created you will be able to view them.</h5>
<table class="table table-hover results" >
 <thead>
   <tr>
     <th> Team Name </th>
     <th> Coach </th>
     <th> Score </th>
   </tr>
 </thead>
 <% @all_teams.order(team_name: :desc).each do |team| %>
 <tbody>
   <tr>
     <td>
       <%= team.team_name %>
     </td>
     <td>
     <%= User.find_by(id: team.user_id).email %>
     </td>
     <td>
<!--      <%= Player.find_by(name: team.player_1).home_runs_2017 + Player.find_by(name: team.player_2).home_runs_2017 +  Player.find_by(name: team.player_3).home_runs_2017 + Player.find_by(name: team.player_4).home_runs_2017+ Player.find_by(name: team.player_5).home_runs_2017 + Player.find_by(name: team.player_6).home_runs_2017 + Player.find_by(name: team.player_7).home_runs_2017 + Player.find_by(name: team.player_8).home_runs_2017 + Player.find_by(name: team.player_9).home_runs_2017 %> -->
    </td>
   </tr>
 </tbody>
<% end %>
</table>

<hr>







