<h1> <%= current_user.email %>'s Teams</h1>
<hr>

<div>

  
  <% @teams.each do |team| %>
    <h2> <%= link_to(team.team_name.titleize, "/team/#{team.id}") %> Total: <%= team.score %> </h2>
  <% end %>
</div>
<hr>

<span class="counter pull-left"></span>
<table class="table table-hover results">
 <thead>
   <tr>
     <th> Rank </th>
     <th> Name </th>
     <th> Score</th>
     <th> Lineup</th>
   </tr>
 </thead>
<% @all_teams.each do |team| %>
 <tbody>
   <tr>
     <td><%= team.id %></td>
     <td>
       <%= team.team_name.titleize %>
     </td>
     <td><%= team.score %> </td>
     <td>
       <%= team.team_players %>
     </td>
   </tr>
 </tbody>
<% end %>
</table>

<hr>







