<h1> <%= @team.team_name %> <small> Season Total: <%= @team_score.sum %> </small></h1>

<span class="counter pull-left"></span>
<table class="table table-hover results">
 <thead>
   <tr>
     <th> Name </th>
     <th> Team </th>
     <th> Total </th>
   </tr>
 </thead>
<% @players.each do |player| %>
 <tbody>
   <tr>
     <td>
       <%= link_to(player.name.titleize, "/player/#{player.id}") %>
     </td>
     <td>
       <%= player.mlb_team %> 
     </td>
     <td>
       <%= player.home_runs %>
     </td>
   </tr>
 </tbody>
<% end %>
</table>
