<h1><%= @team.team_name %> <br>
<small>Coach: <%= current_user.email %></small>
<br>
</h1>
<h3>Season Total: <%= @team.score %> </h3>


<span class="counter pull-left"></span>
<table class="table table-hover results">
 <thead>
   <tr>
     <th> Name </th>
<!--      <th> Team </th>
     <th> Total </th> -->

   </tr>
 </thead>
  <tbody>
    <tr>
      <td> <%= @team.player_1 %></td>
    </tr>
    <tr>
      <td> <%= @team.player_2 %></td>
    </tr>
    <tr>
      <td> <%= @team.player_3 %></td>
    </tr>
    <tr>
      <td> <%= @team.player_4 %></td>
    </tr>
    <tr>
      <td> <%= @team.player_5 %></td>
    </tr>
    <tr>
      <td> <%= @team.player_6 %></td>
    </tr>
    <tr>
      <td> <%= @team.player_7 %></td>
    </tr>
    <tr>
      <td> <%= @team.player_8 %></td>
    </tr>
    <tr>
      <td> <%= @team.player_9 %></td>
    </tr>
  
  </tbody>

</table>




    

