<!DOCTYPE html>
<html>
  <head>
    <title>Home Run Pool</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

  <div>
      <div>
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "btn btn-sm btn-warning") %>        
        <% else %>
          <%= link_to('Login', new_user_session_path, :class => "btn btn-sm btn-warning") %>  
        <% end %>
      </div>
  </div>
  </body>
</html>
